*{
  margin:0;
  padding:0;
}
.landingpage{
  padding:20px;
}
.landingpage .navbar-nav{
  flex-direction: row;
  margin: 10% auto;
  align-items: center;
  justify-content: space-evenly;
}

.landingpage .navbar-nav li{
  padding:50px;
  background-color: #0099e5;
  margin: 20px;
}

.landingpage .navbar-nav li:hover{  
  background-color:#34bf49;
  cursor: pointer;
}

.landingpage .navbar-nav li a{
  color:white;
}